<div class="container">
    <div class="portfolio">
        
        <div class="title">
            <div class="title_flex">
                <div class="left">
                    <h3>Latest projects</h3>
                </div>
                <div class="portfolio_filter">
                    <ul>
                        <li>
                            <a [class.current]="!keyword()" (click)="filter(null)">All</a>
                        </li>
                        <li>
                            <a [class.current]="keyword() === 'angular'" (click)="filter('angular')">Angular</a>
                        </li>
                        <li>
                            <a [class.current]="keyword() === 'vue'" (click)="filter('vue')">Vue</a>
                        </li>
                        <li>
                            <a [class.current]="keyword() === 'js'" (click)="filter('js')">JS</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>

        <ul class="items">
            @for (item of selectedItems(); track item.id) {
                <li>
                    <div class="list_inner">
                        <div class="image">
                            <img src="img/thumbs/40-25.jpg" alt="">
                            <div 
                                class="main" 
                                data-img-url="img/avatar.webp" 
                                [style.background-image]="'url(' + item.img + ')'">
                            </div>
                        </div>
                        <div class="details">
                            <div class="extra">
                                <div class="short">
                                    <p class="date">{{ item.title }} / 
                                        <a [href]="item.link">{{ item.company }}</a>
                                    </p>
                                </div>
                            </div>
                            <h6 class="title">
                                @for (tech of item.tech; track tech; let i = $index;) {
                                    {{ tech }}
                                    @if (i < item.tech.length - 1) {
                                        <span>,</span>
                                    }
                                }
                            </h6>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
