/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
    --bg: #fff;
    --text:  #767676;
}

html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}

body{
	font-family: "Poppins";
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0px;
	word-wrap: break-word;
	font-weight: 400;
	background-color: var(--bg);
	color: var(--text)
}

.container{
	max-width: 1070px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	height:auto;
	padding:0px 40px;
	position:relative;
	clear:both;
}

h1, h2, h3, h4, h5, h6{
	font-weight:500;
	line-height: 1.4;
	color: #000;
}

h1 { font-size: 45px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

a {
	text-decoration: none;
}

button, .button{
	color: #fff;
	display: inline-block;
	background-color: #000;
	padding: 9px 40px 14px 40px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}

button:hover, .button:hover{
	background-color: #333;
	color: #efefef;
	cursor: pointer;
}

#preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    display: flex;
}
#preloader:before,
#preloader:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#preloader:after{
    left: auto;
    right: 0;
}
#preloader .loader_line{
    margin: auto;
    width: 1px;
    height: 250px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
.loader_line:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
    -o-animation: lineheight 1000ms ease-in-out 0s forwards;
    animation: lineheight 1000ms ease-in-out 0s forwards;
}
.loader_line:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #999999;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: lineround 1200ms linear 0s infinite;
    -o-animation: lineround 1200ms linear 0s infinite;
    animation: lineround 1200ms linear 0s infinite;
    animation-delay: 2000ms;
}

@keyframes lineheight{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}

@keyframes lineround{
    0%{
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100%{
        -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
}

.preloaded .loader_line:after{
    opacity: 0;
}
.preloaded  .loader_line{
    opacity: 0;
    height: 100%!important;
}
.preloaded:before,
.preloaded:after{
    -webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    -o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    animation: preloadedzero 300ms ease-in-out 500ms forwards;
}
@keyframes preloadedzero{
    0%{
        width: 50%;
    }
    100%{
        width: 0%;
    }
}


/* Sidebar */
.sidebar {
    width: 450px;
	height: 100vh;
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 12;
	padding: 0px 100px;
	background-color: #fff;
}

.sidebar_inner {
    width: 100%;
	height: auto;
}

.sidebar .logo img {
    max-width: 150px;
}

.sidebar .logo h3 {
    font-family: "Poppins";
	font-weight: 900;
	font-size: 31px;
	letter-spacing: 5px;
}

.logo[data-type="image"] img { display: inline-block; }
.logo[data-type="image"] h3 { display: none; }
.logo[data-type="text"] img { display: none; }
.logo[data-type="text"] h3 { display: inline-block; }

.sidebar .menu{
	padding: 50px 0px 50px 0px;
	width: 100%;
	float: left;
}
.sidebar .menu ul{
	margin: 0px;
	list-style-type: none;
}
.sidebar .menu ul li{
	margin: 0px;
	width: 100%;
	float: left;
}
.sidebar .menu ul li a{
	color: #767676;
	display: inline-block;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.sidebar .menu ul li a:hover{
	color: #000;
}
.sidebar .menu ul li.active a{
	color: #000;
}
.sidebar .copyright{
	width: 100%;
	float: left;
}
.sidebar .copyright p{
	font-size: 15px;
	color: #999;
	font-family: "Poppins";
	line-height: 25px;
}
.sidebar .copyright a{
	color: #787878;
	font-weight: 500;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.sidebar .copyright a:hover{
	color: #000;
}

/* Content */
.content{
	width: 100%;
	min-height: 100vh;
	float: left;
	position: relative;
	background-color: #f8f8f8;
	padding-left: 450px;
}
.content .content_in{
	position: relative;
	width: 100%;
	float: left;
	clear: both;
	border-left: 1px solid #ebebeb;
	min-height: 100vh;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 500ms;
}

::view-transition-old(root){
	animation: fadeOutLeft 0.5s forwards ease-out;
}

::view-transition-new(root){
	animation: fadeInLeft 0.5s forwards ease-in;
}



@keyframes fadeInLeft{
    0%{
        /* -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        -o-transform: translateX(-5%);
        transform: translateX(-5%); */
        opacity: 0;
        filter: grayscale(1);
    }
    50% {
        opacity: 0.5;
        filter: grayscale(0.5);
    }
    100%{
        /* -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); */
        opacity: 1;
        filter: grayscale(0);
    }
}

@keyframes fadeOutLeft{
    0% {
        /* -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); */
        opacity: 1;
    }
    100% {
        /* -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        -o-transform: translateX(-5%);
        transform: translateX(-5%); */
        opacity: 0;
    }
}

/*---------------------------------------------------*/
/*	05) HOME
/*---------------------------------------------------*/

.home{
	width: 100%;
	min-height: 100vh;
	clear: both;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.home .home_content{
	display: flex;
	align-items: center;
}

.home .avatar{
	min-width: 300px;
	min-height: 300px;
	position: relative;
	border-radius: 100%;
}

.home .avatar[data-type="square"] .image{
	animation: none;
}

.home .avatar[data-type="circle"] .image{
	animation: none;
	border-radius: 100%;
}

.home .avatar .image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	animation: morph 8s ease-in-out infinite 1s;
	background-blend-mode: multiply;
	-webkit-box-shadow: inset 0px 0px 0px 9px rgba(255,255,255,.3);
    -moz-box-shadow: inset 0px 0px 0px 9px rgba(255,255,255,.3);
    box-shadow: inset 0px 0px 0px 9px rgba(255,255,255,.3);
}

@keyframes morph {
	 0% {
		 border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
	 50% {
		 border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}
	 100% {
		 border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
}

.home .details{
	margin-left: 80px;
}
.home .details .name{
	font-size: 55px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.home .details .job{
	font-weight: 500;
	max-width: 450px;
	margin-bottom: 25px;
}
.home .social{
	width: 100%;
	float: left;
}
.home .social ul{
	margin: 0px;
	list-style-type: none;
}
.home .social ul li{
	margin: 0px 8px 0px 0px;
	display: inline-block;
}
.home .social ul li:last-child{
	margin-right: 0px;
}
.home .social ul li a{
	display: flex;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.home .social ul li a img{
	width: 32px;
	height: 32px;
	opacity: 0.85;

	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.home .social ul li a:hover img{
	opacity: 1;
}

/*---------------------------------------------------*/
/*	05) About
/*---------------------------------------------------*/

.about{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 100px 0px 100px 0px;
}

.about .author {
	clear: both;
	display: flex;
	flex-direction: row;
	align-items: start;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.about .author .author-img {
	flex-basis: 45%;
	margin-right: 5%;
}

.about .author .author-info {
	flex-basis: 50%;
}

.about .about_title{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	border-bottom: 1px solid #DFDFDF;
	padding-bottom: 20px;
	margin-bottom: 27px;
}

.about .about_title h3{
    font-size: 22px;
    font-weight: 700;
}

.about .about_text{
   	width: 100%;
	height: auto;
	clear: both;
	float: left;
	/* border-bottom: 1px solid #DFDFDF; */
	padding-bottom: 31px;
	margin-bottom: 30px;
}

.about .about_text p{
   	margin-bottom: 11px;
}

.about .about_text p:last-child{
   	margin-bottom: 0px;
}

.short_info{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	/* border-bottom: 1px solid #DFDFDF; */
	padding-bottom: 30px;
	margin-bottom: 40px;
}
.short_info .left{
	width: 50%;
	padding-right: 50px;
}

.short_info .right{
	width: 50%;
	padding-left: 50px;
}

.info{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}

.info ul{
	margin: 0px;
	list-style-type: none;
}

.info ul li{
	margin: 0px;
}

.info ul li span:first-child{
	min-width: 100px;
    float: left;
    margin-right: 10px;
    font-weight: 700;
	color: #000;
}


/*---------------------------------------------------*/
/*	07) PORTFOLIO
/*---------------------------------------------------*/

.title{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 62px;
}
.title h3{
	font-weight: 800;
} 

.title .title_flex{
	width: 100%;
	height: auto;
	clear: both;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.portfolio{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 100px 0px 40px 0px;
}

.portfolio_filter ul{
	margin: 0px;
	list-style-type: none;
}
.portfolio .portfolio_filter ul li{
	margin: 0px 25px 0px 0px;
	display: inline-block;
}
.portfolio .portfolio_filter ul li:last-child{
	margin-right: 0px;
}
.portfolio .portfolio_filter ul li a{
	color: #767676;
	display: inline-block;
	font-weight: 500;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.portfolio .portfolio_filter ul li a.current{
	color: #000;
}
.portfolio .portfolio_filter ul li a:hover{
	color: #000;
}

.portfolio ul.items{
	margin: 0px 0px 0px -50px;
	list-style-type: none;
}
.portfolio ul.items li{
	margin: 0px 0px 50px 0px;
	float: left;
	width: 50%;
	padding-left: 50px;
}
.portfolio ul.items li .list_inner{
	width: 100%;
	height: 100%;
	clear: both;
	float: left;
	position: relative;
	box-shadow: 0px 0px 20px rgba(0,0,0,.07);
}
.portfolio ul.items li .image{
	position: relative;
	overflow: hidden;
}
.portfolio ul.items li .image img{
	min-width: 100%;
	opacity: 0;
}

.portfolio ul.items li .image .main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center; 
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.portfolio ul.items li .list_inner .image:hover .main{
	transform: scale(1.1) translateZ(0);
}
.portfolio ul.items li .details{
	width: 100%;
	float: left;
	padding: 30px 40px 25px 40px;
	background-color: #fff;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.portfolio ul.items li .list_inner:hover .details{
	box-shadow: 0px 0px 20px rgba(0,0,0,.12);
}
.portfolio ul.items li .details .title{
	margin-bottom: 10px;
	line-height: 1.4;
}
.portfolio ul.items li .details .title a{
	color: #000;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.portfolio ul.items li .details .title a:hover{
	color: #000;
}
.portfolio ul.items li .details .date{
	font-size: 13px;
	color: #767676;
}
.portfolio ul.items li .details .date a{
	color: #767676;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.portfolio ul.items li .details .date a:hover{
	color: #000;
}
.portfolio ul.items li .details .date span{
	position: relative;	
}
.portfolio ul.items li .details .date span:before{
	position: relative;
	content: "/";
	font-size: 10px;
	padding: 0px 7px 0px 2px;
}
.portfolio ul.items li .extra{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
	position: relative;
}
.portfolio ul.items li .extra:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background-color: rgba(0,0,0,.1);
	bottom: -7px;
}

/* Cursor */
#custom-cursor {
  position: fixed;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(0,0,0,0);
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.18s ease, background 0.18s ease;
  z-index: 99999;
}

#custom-cursor.hover-target-active {
  transform: translate(-50%, -50%) scale(1.35);
  background: rgba(0,0,0,0.2);
}


/*---------------------------------------------------*/
/*	11) MEDIA QUERIES (FOR SMALL DEVIVES)
/*---------------------------------------------------*/

@media (max-width: 1600px) {
	.container{max-width: 968px;}
	.content{padding-left: 350px;}
	.sidebar{width: 350px;padding: 0px 70px;}
	.home .avatar{min-width: 250px;min-height: 250px;}
	.home .details .name{font-size: 48px;margin-bottom: 10px;}
	.home .details .job{margin-bottom: 22px;}
	/* .tokyo_tm_modalbox .box_inner{width: 850px;} */
}
@media (max-width: 1200px) {
	/* .tokyo_tm_topbar{display: block;} */
	.tokyo_tm_section{padding-left: 0px;}
	.sidebar{display: none;}
	.tokyo_tm_all_wrap .rightpart{padding-left: 0px;}
	.tokyo_tm_all_wrap .rightpart_in{border-left: none;}
	/* .tokyo_tm_about{padding-top: 130px;}
	.tokyo_tm_portfolio{padding-top: 130px;}
	.tokyo_tm_contact{padding-top: 130px;}
	.tokyo_tm_news{padding-top: 130px;}
	.tokyo_tm_services{padding-top: 130px;}
	.tokyo_tm_modalbox .description_wrap{padding: 40px;}
	.tokyo_tm_modalbox .box_inner{width: 500px;}
	.tokyo_tm_modalbox .main_details{flex-direction: column;}
	.tokyo_tm_modalbox .main_details .textbox{padding-right: 0px;width: 100%;margin-bottom: 30px;}
	.tokyo_tm_modalbox .main_details .detailbox{padding-left: 0px;width: 100%;}
	.tokyo_tm_modalbox .additional_images ul{margin: 0px;}
	.tokyo_tm_modalbox .additional_images ul li{padding-left: 0px;width: 100%;}
	.tokyo_tm_modalbox .description_wrap:after{height: 40px;}
	.tokyo_tm_modalbox .description_wrap:before{height: 40px;} */
}
@media (max-width: 1040px) {
	.mouse-cursor{display: none;}
	.home .home_content{flex-direction: column;text-align: center;}
	.home .avatar{margin-bottom: 30px;}
	.home .details{margin-left: 0px;}
	/* .tokyo_tm_title .title_flex{flex-direction: column;align-items: flex-start;}
	.tokyo_tm_title .portfolio_filter{padding-top: 48px;} */
	.container{padding: 0px 20px;}
	/* .tokyo_tm_services .list ul li{width: 50%;}
	.tokyo_tm_partners ul li{width: 33.3333%;}
	.tokyo_tm_modalbox .details .title{font-size: 20px;}
	.tokyo_tm_modalbox .portfolio_main_title h3{font-size: 20px;}
	.tokyo_tm_modalbox .service_popup_informations .main_title h3{font-size: 20px;}
	
	.tokyo_tm_intro .demos img{max-width: 100px;} */
}
@media (max-width: 768px) {
	.home .details .name{font-size: 30px;}
	.home .avatar{min-width: 200px;min-height: 200px;}
	/* .tokyo_tm_portfolio .portfolio_list{margin: 0px;}
	.tokyo_tm_portfolio .portfolio_list li{width: 100%;padding-left: 0px;}
	.tokyo_tm_news ul{margin: 0px;}
	.tokyo_tm_news ul li{width: 100%;padding-left: 0px;}
	.tokyo_tm_news ul li .details{padding-left: 30px;padding-right: 30px;}
	.tokyo_tm_modalbox .main_content .icon{position: relative;margin-bottom: 25px;}
	.tokyo_tm_modalbox .main_content .quotebox{padding-left: 0px;}
	.tokyo_tm_modalbox .close a{width: 30px;height: 30px;font-size: 14px;}
	.tokyo_tm_modalbox .close{left: auto;right: 0px;top: -40px;}
	.tokyo_tm_modalbox .box_inner{width: 300px;}
	.tokyo_tm_modalbox .description_wrap{padding: 20px;}
	.tokyo_tm_short_info{flex-direction: column;}
	.tokyo_tm_short_info .left{width: 100%;padding-right: 0px;}
	.tokyo_tm_short_info .right{width: 100%;padding-left: 0px;}
	.tokyo_tm_progressbox .in{flex-direction: column;}
	.tokyo_tm_progressbox .in .left{width: 100%;padding-right: 0px;margin-bottom: 60px;}
	.tokyo_tm_progressbox .in .right{width: 100%;padding-left: 0px;}
	.tokyo_tm_skillbox .in{flex-direction: column;}
	.tokyo_tm_skillbox .in .left{width: 100%;padding-right: 0px;margin-bottom: 60px;}
	.tokyo_tm_skillbox .in .right{width: 100%;padding-left: 0px;}
	.tokyo_tm_resumebox .in{flex-direction: column;}
	.tokyo_tm_resumebox .in .left{width: 100%;padding-right: 0px;margin-bottom: 60px;}
	.tokyo_tm_resumebox .in .right{width: 100%;padding-left: 0px;}
	.tokyo_tm_services .list ul{margin: 0px;}
	.tokyo_tm_services .list ul li{width: 100%;padding-left: 0px;}
	.tokyo_tm_partners ul li{width: 50%;}
	.tokyo_tm_facts .list ul{margin: 0px;}
	.tokyo_tm_facts .list ul li{width: 100%;padding-left: 0px;}
	.tokyo_tm_pricing .list > ul{margin: 0px;}
	.tokyo_tm_pricing .list > ul > li{width: 100%;padding-left: 0px;}
	.tokyo_tm_modalbox .description_wrap:after{height: 20px;}
	.tokyo_tm_modalbox .description_wrap:before{height: 20px;}
	.tokyo_tm_modalbox .portfolio_main_title{margin-bottom: 20px;} */
}