name: Build and Push Docker Images
on:
  push:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - name: Build and Push Docker Images
          run: |
            echo "starting build and push"
            echo "${{secrets.DOCKER_PAT}}" | docker login -u somaiemajidi --password-stdin          
            docker compose -f docker-compose.yaml build
            docker compose -f docker-compose.yaml push
  deploy:
    needs: [
      build-and-push
    ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        run: |
          echo "Deploying..."
          . ./scripts/deploy.sh 1.0.${{ github.run_number }}